/* General App Styles */
.App {
  text-align: center;
  /* font-family: 'Arial', sans-serif; */
  font-family: monospace;
  background: linear-gradient(135deg, #D16BA5, #86A8E7, #5FFBF1);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #D794CC;
  padding: 20px;
  width: 50%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  border-radius: 50px;
}

.App-header h1 {
  margin: 0;
  font-size: 2.5em;
  letter-spacing: 2px;
  /* color: #2980b9; */
  color: #c762b9;
}

/* Quiz Styles */
.quiz {
  width: 80vw;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 20px; 
  margin: 3rem auto; 
}

.question {
  margin-bottom: 20px;
}

.question h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.question button {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  font-size: 1.2em;
  color: white;
  background: rgba(129, 135, 140, 0.8); /* Adjusted background color with transparency */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: monospace;
}

.question button:hover {
  background: #eb8de6;
}




/* Result Styles */
.result {
  text-align: center;
  font-family: monospace;
}

.result h2 {
  font-size: 2em;
  margin-bottom: 20px;
  font-family: monospace;
}

.result button {
  padding: 15px 30px;
  font-size: 1.2em;
  color: rgb(157, 18, 108);
  background: #d869b0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: monospace;
}

.result button:hover {
  background: #bd6da8;
}


.question-header {
  margin-top: 1rem;
}
